.detail__wrapper {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

/* ***************************************
    店舗詳細
**************************************** */
.detail-box {
    width: 45%;
    height: 80vmin;
    color: #000;
}

.detail-box__header {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.detail-box__header-back {
    margin-right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-box__header-back a {
    display: block;
}

.detail-box__header-back a::before {
    content: "";
    background: url(../image/icon_arrow_left.png);
    background-size: cover;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.detail-box__header-name h3 {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 22px;
}

.detail-box__image {
    margin-bottom: 10px;
    width: 100%;
}

.detail-box__image img {
    width: 100%;
}

.detail-box__tag {
    margin: 20px 0;
    font-size: 0.8em;
}

.detail-box__text p {
    margin: 0;
    font-size: 0.8em;
}

.detail-box__review {
    margin: 5px 0;
}

.detail-box__review a {
    text-decoration: underline;
    color: #000;
    font-size: 12px;
}

.detail-box__review-list {
    margin: 10px 0;
    padding-bottom: 10px;
}

.detail-box__review-list h4 {
    padding: 5px;
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;
}

.detail-box__review-list hr {
    height: 0;
    margin: 0;
    padding: 0;
    border:0;
    border-top: 1px solid #aaa;
}

.my-review__control {
    margin: 3px 0;
    display: flex;
    justify-content: right;
}

.my-review__control a {
    display: inline-block;
}

.delete-review__form {
    display: none;
}

.review-card__control,
.my-review__control {
    text-align: right;
    font-size: .8em;
}

.review-card__control a,
.my-review__control a {
    margin-left: 5px;
    display: inline-block;
    color: #000;
    text-decoration: underline;
}

.review-card__inner {
    margin: 20px 0;
    width: 100%;
}

.review-card {
    margin-bottom: 40px;
}

.review-card__rating {
    margin: 0;
}

.rating-card__label {
    padding: 0 3px;
    color: #ccc;
    font-size: 26px;
    position: relative;
}

.review-card__comment p {
    margin: 5px 0 0 0;
    padding: 0;
}

.review-card__image {
    width: 100%;
}

.review-card__image img {
    width: 100%;
}

/* ***************************************
    予約フォーム
**************************************** */
.reservation-box {
    padding: 10px 20px;
    width: 35%;
    height: 90vmin;
    background-color: var(--main-color);
    position: absolute;
    top: 2em;
    right: 6em;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .4);
    color: var(--white);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.reservation-box__header h3 {
    margin: 10px 0;
}

.reservation-box__input-date {
    width: 50%;
    position: relative;
    display: flex;
}

.reservation-box__input-date input {
    margin: 0 0 10px 0;
    padding: 3px 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 3px;
    border: none;
}

/* カレンダーアイコン */
.reservation-box__input-date .calendar {
    content: "";
    background: url(../image/icon_calendar.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 8px;
    pointer-events: none;
}

.reservation-box__input-time,
.reservation-box__input-number {
    width: 100%;
    display: flex;
    position: relative;
}

.reservation-box__input-time select,
.reservation-box__input-number select {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}

.reservation-box__selected {
    width: 100%;
    margin: 0 0 5px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #4D7FFF;
}

.reservation-box__selected-inner {
    margin: 0 auto;
    width: 95%;
    z-index: 99;
}

.reservation-box__selected-row {
    padding: 3px 5px;
}

.reservation-box__selected-heading,
.reservation-box__selected-item {
    color: var(--white);
}

.reservation-box__selected-heading {
    width: 30%;
}

.reservation-box__button {
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0538FF;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-box__button-submit {
    width: 100%;
    height: 100%;
    border: none;    
    background: none;
    color: var(--white);
}

.reservation-box__error {
    font-size: 12px;
    color: yellow;
}

/* 評価投稿エリア */
.reservation-box__review {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4D7FFF;
}

.review-text {
    font-size: 14px;
}

.reservation-box__review-rating {
    margin: 5px 0;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 10px;
}

.rating__input {
    display: none;
}

.rating__label {
    padding: 0 10px;
    color: #ccc;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    transition: color 0.3s;
}

.rating__label:hover,
.rating__label:hover~.rating__label,
.rating__input:checked~.rating__label {
    /* 「~」でホバー時を動的に、チェック時にそれ以下の数字をもつスターの色も変化 */
    color: yellow;
}

.star {
    color: yellow;
}

.reservation-box__review-comment {
    margin-top: 0;
}

.reservation-box__review-comment p {
    margin: 0;
}

.reservation-box__review-comment textarea {
    width: 100%;
    height: 70px;
}

/* スマートフォン・タブレット用CSS */
@media screen and (max-width: 768px) {
    /* 店舗詳細エリア */
    .detail-box {
        width: 58%;
        height: 45vmin;
        color: #000;
    }

    .detail-box__image {
        margin-bottom: 20px;
        width: 100%;
    }

    .detail-box__image img {
        width: 100%;
    }

    .detail-box__tag {
        margin: 20px 0;
        font-size: 1em;
    }

    .detail-box__text p {
        margin: 0;
        font-size: 0.9em;
    }

    /* 予約登録エリア */
    .reservation-box {
        padding: 10px 20px 60px;
        width: 32%;
        height: auto;
        top: 8.5em;
        right: 4em;
    }

    .reservation-box__input-date {
        width: 75%;
    }

    .reservation-box__selected-heading {
        width: 40%;
    }

    .reservation-box__button {
        height: 50px;
    }

    /* 評価投稿エリア */
    .review-text {
        font-size: 12px;
    }

    .rating__label {
        padding: 0 5px;
    }

}