:root {
    --white: #fff;
    --main-color: #305DFF;
}

/*=============================
    search box
=============================*/
.search__content {
    margin: 0 0 0 auto;
    padding: 10px;
    width: 50%;
    visibility: visible;
    display: flex;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .4);
}

.search__area,
.search__genre {
    width: 20%;
    border-right: 1px solid #E2E2E2;
}

.search__area select,
.search__genre select,
.search__word input {
    padding-left: 10px;
    width: 95%;
    border: none;
    background: #fff;
/*    -webkit-appearance: none;
    appearance: none; デフォルト矢印消去*/
}

.search__word input::before {
    content: "";
    background: url(../image/icon_search.png);
    background-size: contain;
    vertical-align: middle;
    padding-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.shop-list__wrapper {
    margin: 10px auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.shop__card {
    width: 38vmin;
    height: 38vmin;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .4);
    background: var(--white);
}

.shop__card:nth-of-type(4n) {
    margin-right: 0;
}

.shop__image {
    width: 100%;
    height: 50%;
}

.shop__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;/* 縦横比率変えないように */
    border-radius: 10px 10px 0 0;
}

.shop__info {
    padding: 10px 15px;
    height: 45%;
}

.shop__text {
    color: #000;
}

.shop__text h3 {
    margin: 10px 0 5px 0;
}

.shop__text p {
    margin: 5px 0;
    font-size: 12px;
}

.shop__button {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.shop__button a {
    display: inline-block;
}

.shop__button-detail {
    padding: 5px 10px;
    font-size: 12px;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 3px;
}

.shop__button-favorite {
    content: "";
    background: url(../image/icon_favorite_off.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: none;
}

.shop__button-favorite.change {
    content: "";
    background: url(../image/icon_favorite_on.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}


