:root {
    --white: #fff;
    --main-color: #305DFF;
}

/*=============================
    search box
=============================*/
.search-form {
    display: flex;
}

.search__content {
    margin: 0 0 0 auto;
    padding: 10px;
    width: 70%;
    visibility: visible;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .4);
}

.sort__area {
    width: 40%;
    border-right: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    position: relative;
}
.sort__area label {
    font-size: .7em;
    color: #000;
}

.search__area,
.search__genre {
    width: 25%;
    border-right: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    position: relative;
}

/* プルダウンの矢印 */
.polygon {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 16px;
    height: 16px;
    background-color: #e2e2e2;
    clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 30% 50%);
    transform: rotate(-90deg);
    pointer-events: none;
}

.sort__area select {
    padding-left: 10px;
    width: 50%;
    border: none;
    background: #fff;
    line-height: 2.0;
    -webkit-appearance: none;
    appearance: none;
}

.search__area select,
.search__genre select {
    padding-left: 10px;
    width: 95%;
    border: none;
    background: #fff;
    line-height: 2.0;
    -webkit-appearance: none;
    appearance: none;
}

.search__word {
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
}

.search__word input {
    border: none;
    width: 100%;
}

.material-icons-outlined {
    margin-left: 5px;
    display: block;
    color: #E2E2E2;
}

.search-text {
    margin: 10px auto;
    width: 85%;
    color: #000;
}

.shop-list__wrapper {
    margin: 10px auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}

/* スマートフォン・タブレット用CSS */
@media screen and (max-width: 768px) {
    .shop-list__wrapper {
        margin: 10px auto;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 18px;
    }

    .shop__card {
        width: 40vmin;
        height: 40vmin;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .4);
        background: var(--white);
    }

    .shop__name {
        border: 1px solid pink;
    }

    .shop__name h3 {
        margin: 10px 0;
        width: 20%;
    }


    .shop__text p {
        margin: 5px 0 15px 0;
    }
    .shop__button {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
}

