/* :rootのCSS変数の宣言 */
:root {
    --white: #fff;
    --main-color: #305DFF;
}

.login__wrapper {
    margin: 50px 0;
    width: 350px;
    height: 220px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .4);
}

.login-form__group {
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.login-form__input--mail,
.login-form__input--password {
    margin: 0;
    height: 30px;
    width: 100%;
}

.login-form__input--mail::before {
    content: "";
    background: url(../image/icon_mail.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.login-form__input--password::before {
    content: "";
    background: url(../image/icon_password.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.login-form__input--mail input,
.login-form__input--password input {
    padding: 2px 5px;
    width: 90%;
    border: none;
    line-height: 1.5;
    border-bottom: 1px solid #4b4b4b;
}

.login-form__button {
    margin-top: 15px;
    padding-right: 5px;
    text-align: right;
}

.login-form__button-submit {
    padding: 5px 10px;
    color: var(--white);
    background: var(--main-color);
    border: none;
    border-radius: 3px;
}

.login-form__error {
    margin: 0;
    min-height: 15px;
    font-size: 11px;
    color: #f00;
}